.side_drawer {
  height: 100vh;
  width: 50vw;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 100;
  box-shadow: 10px 10px 10px black;
}
.slide-in-left-enter {
  transform: translateX(-100%);
}
.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}
.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}
.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}
