.side_drawer {
  height: 100vh;
  width: 50vw;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 100;
  box-shadow: 10px 10px 10px black;
}
