.custom_button {
  font-family: monospace;
  color: white;
  background-color: #118980;
  width: 130px;
  height: 35px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 5px 5px 2px grey;
}

.custom_button:hover {
  background-color: white;
  color: black;
  outline: none;
  transition: all 200ms;
}
.disabled_class,
.disabled_class:hover {
  font-family: monospace;
  color: grey;
  background-color: #cccccc;
  width: 130px;
  height: 35px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 5px 5px 2px grey;
}
