.modal {
  height: 65vh;
  width: 55vw;
  top: 30vh;
  left: 19vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 100;
  box-shadow: 10px 10px 10px black;
  border-radius: 5px;
}
.modal_header {
  height: 40px;
  justify-content: center;
  padding-top: 10px;
  background-color: #118980;
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.modal_header h2 {
  color: white;
}
form {
  width: 100%;
  height: 100%;
}
.modal_footer {
  position: absolute;
  bottom: 10px;
  left: 25vw;
}
.footer_delete {
  left: 20vw;
}
@media screen and (max-width: 500px) {
  .modal_footer {
    left: 18vw;
  }
  .modal_header h2 {
    font-size: 1.2em;
  }
}
