.user_item {
  padding: 10px;
  border-radius: 4px;
  box-shadow: 10px 10px 5px grey;
}
.user_item_info {
  font-family: monospace;
  margin-left: 10px;
}
.user_item:hover h2 {
  color: white;
}
.user_item:hover p {
  color: white;
}
.user_item:hover {
  background-color: #118980;
  transition: all 200ms;
}
a {
  display: flex;
  text-decoration: none;
  color: black;
}
