.main_nav_menu_button {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.main_nav_menu_button span {
  width: 2.7em;
  border-bottom: 1px solid black;
  margin-top: -14px;
}

@media screen and (max-width: 813px) {
  .main_nav_menu_button {
    display: flex;
  }
  .main_navigation_header_nav {
    display: none;
  }
  h1 {
    margin-right: 20px;
  }
}
h1 {
  margin-left: 20px;
  font-family: monospace;
}
.main_nav_title:hover a {
  color: #118980;
}
